@import url(http://fonts.googleapis.com/css?family=Mrs+Saint+Delafield);
/* http://meyerweb.com/eric/tools/css/reset/  v2.0 | 20110126 License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

@-webkit-keyframes showSignature { 0% { width: 98%; opacity: 1; }
  49% { width: 0%; opacity: 1; }
  50% { opacity: 0; }
  51% { width: 98%; opacity: 0; }
  100% { opacity: 1; width: 98%; } }

@-moz-keyframes showSignature { 0% { width: 98%; opacity: 1; }
  49% { width: 0%; opacity: 1; }
  50% { opacity: 0; }
  51% { width: 98%; opacity: 0; }
  100% { opacity: 1; width: 98%; } }

@-o-keyframes showSignature { 0% { width: 98%; opacity: 1; }
  49% { width: 0%; opacity: 1; }
  50% { opacity: 0; }
  51% { width: 98%; opacity: 0; }
  100% { opacity: 1; width: 98%; } }

@keyframes showSignature { 0% { width: 98%; opacity: 1; }
  49% { width: 0%; opacity: 1; }
  50% { opacity: 0; }
  51% { width: 98%; opacity: 0; }
  100% { opacity: 1; width: 98%; } }

@-webkit-keyframes approveStamp { 0% { opacity: 0; -webkit-transform: scale(1.1) rotate(-5deg); }
  20% { opacity: 1; -webkit-transform: scale(1) rotate(0deg); }
  100% { opacity: 0; -webkit-transform: scale(1) rotate(0deg); } }

@-moz-keyframes approveStamp { 0% { opacity: 0; -moz-transform: scale(1.1) rotate(-5deg); }
  20% { opacity: 1; -moz-transform: scale(1) rotate(0deg); }
  100% { opacity: 0; -moz-transform: scale(1) rotate(0deg); } }

@-o-keyframes approveStamp { 0% { opacity: 0; -o-transform: scale(1.1) rotate(-5deg); }
  20% { opacity: 1; -o-transform: scale(1) rotate(0deg); }
  100% { opacity: 0; -o-transform: scale(1) rotate(0deg); } }

@keyframes approveStamp { 0% { opacity: 0; transform: scale(1.1) rotate(-5deg); }
  20% { opacity: 1; transform: scale(1) rotate(0deg); }
  100% { opacity: 0; transform: scale(1) rotate(0deg); } }

@-webkit-keyframes shredPaper { 0% { margin-top: -90px; -webkit-transform: scale(1.1); }
  5% { margin-top: 11px; -webkit-transform: scale(1); }
  40% { margin-top: 11px; -webkit-transform: translateX(0px) translateY(0px); }
  95%, 100% { margin-top: 100px; -webkit-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -webkit-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -webkit-transform: translateX(0px) translateY(0px); } }

@-moz-keyframes shredPaper { 0% { margin-top: -90px; -moz-transform: scale(1.1); }
  5% { margin-top: 11px; -moz-transform: scale(1); }
  40% { margin-top: 11px; -moz-transform: translateX(0px) translateY(0px); }
  95%, 100% { margin-top: 100px; -moz-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -moz-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -moz-transform: translateX(0px) translateY(0px); } }

@-o-keyframes shredPaper { 0% { margin-top: -90px; -o-transform: scale(1.1); }
  5% { margin-top: 11px; -o-transform: scale(1); }
  40% { margin-top: 11px; -o-transform: translateX(0px) translateY(0px); }
  95%, 100% { margin-top: 100px; -o-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -o-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -o-transform: translateX(0px) translateY(0px); } }

@keyframes shredPaper { 0% { margin-top: -90px; transform: scale(1.1); }
  5% { margin-top: 11px; transform: scale(1); }
  40% { margin-top: 11px; transform: translateX(0px) translateY(0px); }
  95%, 100% { margin-top: 100px; transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { transform: translateX(0px) translateY(0px); } }

@-webkit-keyframes shredEffect { 0%, 39% { opacity: 0; }
  40% { margin-top: 25px; opacity: 1; -webkit-transform: translateX(0px) translateY(0px); }
  65% { margin-top: 10px; opacity: 1; }
  100% { opacity: 0; margin-top: 25px; }
  95%, 100% { -webkit-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -webkit-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -webkit-transform: translateX(0px) translateY(0px); } }

@-moz-keyframes shredEffect { 0%, 39% { opacity: 0; }
  40% { margin-top: 25px; opacity: 1; -moz-transform: translateX(0px) translateY(0px); }
  65% { margin-top: 10px; opacity: 1; }
  100% { opacity: 0; margin-top: 25px; }
  95%, 100% { -moz-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -moz-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -moz-transform: translateX(0px) translateY(0px); } }

@-o-keyframes shredEffect { 0%, 39% { opacity: 0; }
  40% { margin-top: 25px; opacity: 1; -o-transform: translateX(0px) translateY(0px); }
  65% { margin-top: 10px; opacity: 1; }
  100% { opacity: 0; margin-top: 25px; }
  95%, 100% { -o-transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { -o-transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { -o-transform: translateX(0px) translateY(0px); } }

@keyframes shredEffect { 0%, 39% { opacity: 0; }
  40% { margin-top: 25px; opacity: 1; transform: translateX(0px) translateY(0px); }
  65% { margin-top: 10px; opacity: 1; }
  100% { opacity: 0; margin-top: 25px; }
  95%, 100% { transform: translateX(0px) translateY(0px); }
  45%, 55%, 65%, 75%, 85% { transform: translateX(2px) translateY(0px); }
  46%, 56%, 66%, 76%, 86% { transform: translateX(0px) translateY(0px); } }

.drawer { width: 100%; height: 90px; overflow: hidden; }

.drawer__paper__wrap { width: 76%; min-height: 80px; margin: 0px auto 0 auto; overflow: hidden; padding: 0; }

.drawer__paper { padding: 10px; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8); height: 90px; margin: 11px 0 0 0; opacity: 1; z-index: 50; }

.shredder__effect { display: none; background: url("../img/shredder.png") repeat-x; height: 47px; position: absolute; top: 63px; width: 100%; left: 0; }

.shred { position: relative; }
.shred .drawer__paper { display: block; -webkit-animation: shredPaper 8s linear; -moz-animation: shredPaper 8s linear; animation: shredPaper 8s linear; }
.shred .shredder__effect { display: block; -webkit-animation: shredEffect 8s linear; -moz-animation: shredEffect 8s linear; animation: shredEffect 8s linear; }

.drawer__title { text-transform: uppercase; text-align: center; width: 100%; margin-bottom: 5px; font-size: 18px; display: block; }

.drawer__nonsense { font-size: 7px; opacity: 0.5; }

.control_area { width: 100%; height: 84%; border-top: 1px solid #7a7a76; padding: 10px 0 0 0; z-index: 100; }
.control_area h3.control__title { text-transform: uppercase; text-align: center; width: 100%; display: block; font-size: 14px; margin-bottom: 10px; font-weight: bold; }

.control__buttons { width: 270px; margin: 0 auto; }
.control__buttons .button { -webkit-border-radius: 10px; border-radius: 10px; border: 5px solid #555555; width: 125px; height: 125px; display: inline-block; margin: 5px; text-align: center; padding: 5px; position: relative; float: left; }
.control__buttons .button span { display: block; width: 100%; height: auto; position: absolute; padding: 0 5px; position: relative; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }
.control__buttons .button:after { position: absolute; top: 50%; margin-top: -42px; left: 50%; margin-left: -75px; width: 150px; height: 85px; content: ""; display: none; opacity: 0; background-image: url("../img/approved.png"); background-repeat: no-repeat; }
.control__buttons .button.approved:after { opacity: 1; display: block; -webkit-animation: approveStamp 2s ease; -moz-animation: approveStamp 2s ease; animation: approveStamp 2s ease; }
.control__buttons .break-buttons { width: 100%; height: 1px; display: block; }

.control__signoff { width: 90%; margin: 0 auto; border-bottom: 1px solid #000; height: 60px; position: relative; }
.control__signoff:after, .control__signoff:before { content: ""; bottom: 0; left: 0; height: 30%; width: 1px; display: block; position: absolute; background: #000; }
.control__signoff:after { left: auto; right: 0; }
.control__signoff .control__signoff__name { font-family: 'Mrs Saint Delafield', cursive; width: 100%; position: absolute; bottom: -10px; left: 1px; padding: 0 10px; text-align: center; font-size: 40px; text-transform: capitalize; }
.control__signoff .control__signoff__coverup { height: 65px; position: absolute; bottom: -25px; right: 1px; background: #f5f4ed; width: 98%; }
.control__signoff .control__signoff__coverup:after { width: 100%; height: 1px; background: black; position: absolute; bottom: 24px; left: 0; content: ""; display: block; }
.control__signoff.show .control__signoff__coverup { -webkit-animation: showSignature 2s ease; -moz-animation: showSignature 2s ease; animation: showSignature 2s ease; }

.player__score { position: absolute; top: 120px; left: 20px; }

.signup__paper { width: 90%; height: 90%; margin: 10px auto 0 auto; padding: 40px 10px 20px 10px; -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8); box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.8); }
.signup__paper h2, .signup__paper h1 { text-align: center; margin-bottom: 20px; font-weight: bold; }
.signup__paper h1 { font-size: 40px; margin-bottom: 0; }

.signup__input__wrap { display: block; margin-bottom: 20px; }
.signup__input__wrap label { font-size: 16px; font-weight: bold; display: block; }
.signup__input__wrap input, .signup__input__wrap button { width: 100%; font-size: 14px; padding: 10px 5px; }

button.button { display: block; background: rgba(0, 0, 0, 0.1); border: 1px solid #7a7a76; border-radius: 5px; }

.lobby__area .button { margin-top: 30px; }

body { font-family: Arial, sans-serif; background: white; }

body, html { height: 100%; }

.clearfix:before, .clearfix:after { content: " "; display: table; }

.clearfix:after { clear: both; }

*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.mobile-simulator-container { margin: 40px auto 0 auto; width: 1020px; height: 480px; }

.mobile-simulator { width: 320px; height: 480px; margin: 0 10px; float: left; }

.play__area, .signup__area, .finish__area, .lobby__area { background: url("../img/desk.png"); height: 100%; width: 100%; position: relative; overflow: hidden; }
.play__area.hide, .signup__area.hide, .finish__area.hide, .lobby__area.hide { display: none; }

.play__area { -webkit-transition: box-shadow 100ms ease; -moz-transition: box-shadow 100ms ease; transition: box-shadow 100ms ease; -webkit-box-shadow: 0; box-shadow: 0; }
.play__area.good { -webkit-box-shadow: inset 0 0 5px 5px rgba(35, 205, 67, 0.5); box-shadow: inset 0 0 5px 5px rgba(35, 205, 67, 0.5); }
.play__area.bad { -webkit-box-shadow: inset 0 0 5px 5px rgba(163, 0, 6, 0.5); box-shadow: inset 0 0 5px 5px rgba(163, 0, 6, 0.5); }

.paper { background: #f5f4ed; }
