@import url(http://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Herr+Von+Muellerhoff);

@import "bourbon/bourbon";
@import "util";
@import "reset";

$papercolor: #F5F4ED;

@import "animations";
@import "playscreen";
@import "signup";


body{
  font-family:Arial, sans-serif;
  background:white;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-simulator-container{
  margin:40px auto 0 auto;
  width:1020px;
  height:480px;
}

  .mobile-simulator{
    width:320px;
    height:480px;
    margin:0 10px;
    float:left;
  }

.play__area, .signup__area{
  background:url('../img/desk.png');
  height:100%;
  width:100%;
  position:relative;
  overflow:hidden;
}

.paper{
  background:$papercolor;
}