@import url(http://fonts.googleapis.com/css?family=Mrs+Saint+Delafield|Herr+Von+Muellerhoff);

@import "bourbon/bourbon";
@import "util";
@import "reset";

$papercolor: #F5F4ED;
$animationLength: 2s;
$timeToAct: 8s;

@import "animations";
@import "playscreen";
@import "signup";

body{
  font-family:Arial, sans-serif;
  background:white;
}

body, html{
  height:100%;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mobile-simulator-container{
  margin:40px auto 0 auto;
  width:1020px;
  height:480px;
}

  .mobile-simulator{
    width:320px;
    height:480px;
    margin:0 10px;
    float:left;
  }

.play__area, .signup__area, .roundup__area, .lobby__area{
  background:url('../img/desk.png');
  height:100%;
  width:100%;
  position:relative;
  overflow:hidden;

  &.hide{
    display:none;
  }
}

.play__area{
  @include transition(box-shadow 100ms ease);
  -webkit-box-shadow:0;
  box-shadow:0;

  &.good{
    -webkit-box-shadow:inset 0 0 5px 5px rgba(#23CD43,0.3);
    box-shadow:inset 0 0 5px 5px rgba(#23CD43,0.3);
  }

  &.bad{
    -webkit-box-shadow:inset 0 0 5px 5px rgba(#A30006,0.3);
    box-shadow:inset 0 0 5px 5px rgba(#A30006,0.3);
  }
}

.paper{
  background:$papercolor;
}